* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block {
  width: 25px;
  height: 25px;
  outline: 1px solid #000;
  display: inline-block;
}

.wall {
  background-color: #0c3547;
}

.visited {
  background-color: rgba(64, 47, 148, 0.49);
}

.shortest-path {
  background-color: #ff5100;
}

.start {
  font-size: 12px;
  background-color: rgb(62, 122, 70);
}

.finish {
  font-size: 12px;
  background-color: rgb(155, 23, 14);
}
